.app {
    max-width: 500px;
}

.header {
    margin-bottom: 10px;
}

.header .logo {
    display: block;
    width: 96px;
    height: 96px;
}

.clock {
    margin-bottom: 10px;
    padding: 15px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.clock .value {
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.clock .icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 16px;
}

.clock .icon.day {
    background-color: orange;
}

.clock .icon.night {
    background-color: midnightblue;
}

.lot {
    margin-bottom: 10px;
    padding: 20px 15px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.lot.favorite {
    background: thistle;
    border-color: thistle;
}

button {
    cursor: pointer;
    border-radius: 50%;
    padding: 3px 5px;
    font-size: 1rem;
    outline: none;
}

button:hover {
    border: 2px solid #dc0000;
    color: #dc0000;
}

button ion-icon {
    vertical-align: middle;
}

button.favorite {
    background: #fff;
    border: 2px solid #dc0000;
    color: #dc0000;
}

button.favorite:hover {
    border-color: #767676;
    border-style: outset;
    color: #767676;
}

.price {
    margin-top: 10px;
    position: absolute;
    right: 30px;
    font-size: 42px;
}
