.app {
    max-width: 500px;
}

.header {
    margin-bottom: 10px;
}

.header .logo {
    display: block;
    width: 96px;
    height: 96px;
}

.clock {
    margin-bottom: 10px;
    padding: 15px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.clock .value {
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.clock .icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 16px;
}

.clock .icon.day {
    background-color: orange;
}

.clock .icon.night {
    background-color: midnightblue;
}

.lot {
    margin-bottom: 10px;
    padding: 20px 15px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.lot.favorite {
    background: thistle;
    border-color: thistle;
}

button {
    cursor: pointer;
    border-radius: 4px;
    padding: 4px 6px;
    font-size: 0.8rem;
    outline: none;
}

button.favorite {
    background: #fff;
    border: 1px solid #999;
    color: #000;
}

button.favorite {
    background: #fff;
    border: 1px solid #ff8c68;
    color: #dc0000;
}

.price {
    margin-top: 10px;
    position: absolute;
    right: 30px;
    font-size: 42px;
}
